<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }} - {{ site.name }}</title>

    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="@@DESCRIPTION" />
    <meta name="keywords" content="@@KEYWORDS" />

    <link rel="author" href="humans.txt" />

    <link rel="shortcut icon" href="images/favicon.png">

    <link rel="icon" type="image/png" href="images/favicon.png">

    <!-- build:css({app,.tmp}) styles/screen.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>

  <body class="page">
    {% include hero.html %}

    {{ content }}

    <!-- build:js({app,.tmp}) scripts/scripts.js -->
    <script src="_bower_components/jquery/jquery.js"></script>
    <script src="_bower_components/symbolset-js/ss-social.js"></script>
    <script src="_bower_components/symbolset-js/ss-standard.js"></script>
    <script src="_bower_components/bootstrap/assets/javascripts/bootstrap/transition.js"></script>
    <script src="_bower_components/bootstrap/assets/javascripts/bootstrap/collapse.js"></script>

    <script src="scripts/main.js"></script>
    <!-- endbuild -->
  </body>
</html>
