<div class="hero">
  <h1 class="author">{{ site.author.name }}</h1>

  <ul class="links list-block list-inline">
    <li><a href="http://twitter.com/kuatsure" class="ss-icon ss-social">twitter</a></li>

    <li><a href="http://github.com/kuatsure" class="ss-icon ss-social">octocat</a></li>

    <!-- <li><a href="https://open.spotify.com/user/kuatsure" class="ss-icon ss-social">spotify</a></li> -->

    <!-- <li><a href="/articles" class="ss-icon ss-standard">openbook</a></li> -->

    <li><a id="js-user-btn" data-toggle="collapse" href="#aboutMe" title="About Me" class="ss-icon ss-standard">user</a></li>

    <!-- <li><a title="Accepting Freelance Work" class="btn--positive btn--hard ss-icon ss-standard">check</a></li> -->
  </ul>
</div>
